.nav-mobile {
  background: coral;
  /* display: none; */
}

.nav-mobile li {
  padding: 1rem 0;
}

.nav-mobile ul {
  padding-inline-start: 0;
}

@media screen and (min-width: 800px) {
  .nav-mobile {
    display: none;
  }
}
