/* Variables */

:root {
  --clr-black: black;
  --clr-darkgrey: #333333;
  --clr-blue: #1d749f;
}

/* Global Classes & Styles*/

.align-center {
  display: flex;
  align-items: center;
  text-align: center;
}

ul {
  list-style-type: none;
}

a {
  color: var(--clr-darkgrey);
  text-decoration: none;
}

.nav-toggle:hover,
a:hover {
  color: var(--clr-blue);
}

.padLeft {
  padding-left: 1.5rem;
}

.padRight {
  padding-right: 1.5rem;
}

/* Navbar */

nav {
  position: fixed;
  width: 100%;
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.nav-toggle {
  background: transparent;
  border-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

/* Links */

.links {
  font-size: 1.1rem;
}

li {
  padding: 0 2rem;
}

/* Media Queries */

@media screen and (min-width: 800px) {
  .nav-toggle {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .links {
    display: none;
  }

  .padLeft {
    padding-left: 0;
  }

  .padRight {
    padding-right: 0;
  }
}
